<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../portal-help/portal-help.html">
<link rel="import" href="../course-list/course-list.html">


<dom-module id="my-subjects">
    <template>
        <style is="custom-style">
        :host {
            display: block;
            margin: 2rem;
        }
        
        :root {
            width: 100%;
        }
        
        paper-card.subject {
            background: var(--app-white);
        }
        
        paper-card.subject {
            --paper-card-header-text: {
                color: var(--app-white);
            }
            --paper-card-header: {
                text-align: center;
                background: var(--app-primary-color);
            }
            --paper-card-actions: {
                background: var(--app-primary-color);
                color: var(--app-white);
            }
        }
        
 
        </style>
        <iron-ajax url="src/components/subjects/course-data-en.json" last-response="{{data}}" auto></iron-ajax>
        <portal-help></portal-help>
        <paper-card class="subject" heading="[[localize('title')]]">
            <div class="card-actions">
                <paper-tabs scrollable selected="{{selected}}">
                    <paper-tab>{{localize('intro')}}</paper-tab>
                    <paper-tab>{{localize('free')}}</paper-tab>
                    <paper-tab>{{localize('current')}}</paper-tab>
                    <paper-tab>{{localize('future')}}</paper-tab>
                </paper-tabs>
            </div>
            <div class="card-content">
                <iron-pages selected="{{selected}}">
                    <div>
                        <course-list data=[[data]]></course-list>
                    </div>
                    <div>
                       <course-list data=[[data]]></course-list>
                    </div>
                    <div>
                       <course-list data=[[data]]></course-list>
                    </div>
                    <div>
                      <course-list data=[[data]]></course-list>
                    </div>
                </iron-pages>
            </div>
        </paper-card>
    </template>
    <script>
    class MySubjects extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
        static get is() {
            return 'my-subjects'
        }

        static get properties() {

            return {
                data: Object,
                selected: {
                    type: String,
                    value: 0
                },
                language: {
                    value: 'en'
                },
                resources: {
                    value() {
                        var s = this.loadResources(this.resolveUrl('my-subjects-locales.json'));
                        return s;
                    }
                }
            };

        }

    }
    customElements.define(MySubjects.is, MySubjects);
    </script>

</dom-module>
