<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../identity/identity-card.html">
<link rel="import" href="../portal-help/portal-help.html">

<dom-module id="student-advisor">
    <template>
        <style is="custom-style">
        .element-container {
            max-width: 300px;
        }
        </style>
        <div class="element-container">
            <portal-help header-text="{{localize('advisorhelp')}}">

                <p>{{localize('advisorhelp-p1')}}</p>
                <p>{{localize('advisorhelp-p2')}}</p>
                <p>{{localize('advisorhelp-p3')}}</p>

                <iframe width="420" height="345" src="https://www.youtube.com/embed/a7bZhAjUIBM?autoplay=1">
                </iframe>

            </portal-help>
            <identity-card title="{{localize('title')}}" image-url="images/card-background.jpg" name="Sam Iam" phone="(02)2640 6090" email="samiam@here.com" location="3412"></identity-card>
        </div>
    </template>
    <script>
    class StudentAdvisor extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
        static get is() {
            return 'student-advisor'
        }

        static get properties() {

            return {
                language: {
                    value: 'en'
                },
                resources: {
                    value() {
                        var s = this.loadResources(this.resolveUrl('student-advisor-locales.json'));
                        return s;
                    }
                }
            };

        }
    }

    customElements.define(StudentAdvisor.is, StudentAdvisor);
    </script>

</dom-module>
